<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/styles/home.css">
    </head>
    <body>
        <%- include('../partials/header') %>
        <main class="flex justAround">
            <%- include('../partials/viewProductsList') %>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>