<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('../partials/header')  %>
    <main>
        <section>
            <form action="" method="POST">
                <input type="text" name="user" id="user" placeholder="Nombre de Usuario">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <button type="submit" class="">Ingresar</button>
            </form>
            <p>¿No tenes una cuenta? <a href="/register">Creá una cuenta</a>.</p>
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>