<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('../partials/header')  %>
    <main>
        <section>
            <form action="" method="POST">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                <input type="text" name="apellido" id="apellido" placeholder="Apellido">
                <input type="email" name="email" id="email" placeholder="E-mail">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirmar contraseña">
                <button type="submit" class="button-registro">Registrarme</button>
            </form>
            <p>Se te enviara una confirmacion del registro por correo electronico.</p>
            <p>Si ya tenes una cuenta, podes <a href="/login">Iniciar sesion</a>.</p>
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>