footer{
    padding-top: 20px;
}

footer form{
    position: relative;
}
footer form button{
    position: absolute;
    background-color: #00000000;
    align-self: center;
    border: 0px;
    right: 0px;
}
footer form input {
    padding: 10px;
    border: 0px;
}

footer section{
    width: 90%;
}
footer section article i {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.info article{
    color: #021140;
    transition: all .35s;
}
.info article:hover{
    color: #fff;
    
}


@media (min-width:768px)  {
    .info article{
        width: 45%;
    }
}
@media (min-width:1024px)  {
    .info{
        width: 60%;
    }
    .info article{
        width: 30%;
    }
    .redes{
        width: 30%;
    }
}
