.category article img{
    display: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.category article{
    width: 100%;
}

main section{
    width: 90%;
}


main article a{
    text-decoration: none;
}



@media (min-width:768px) {
    .category article a{
        background-color: #fff;
        color: #021140;
        position: absolute;
        top: 40%;
    }
    .category article img{
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .category article{
        width: 30%;
        position: relative;
    }
}
@media (min-width:1024px) {
    .category article{
        width: 20%;
    }
}