*{
    box-sizing: border-box;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;  
}

main .product{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 35px 0px;
    width: 100%;
    max-width: 800px;

}

.bot{
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.top img{
   padding-bottom: 10px;
   height: 40vh;
   width: 70%;
}

.bot p{
    padding-top: 10px;
    width: 90%;
}

.top{
    width: 100%;
    align-items: center;
}

.top p{
    text-align: center;
    font-weight: bold;
    font-size: 24px; 
}
section article{
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items: center;
        
}

.price{                                                                                                                                                                                                               
    width: 100%;
    padding: 10px;  
    color: #021140;  
    font-weight: bold; 
    text-align: right;
    
}

.bot button{
    width: 100%;  
    border: 0;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #021140;
    border-radius: 8px;
}

.description{
    text-align:left; 
    padding: 15px; 
}

.description h4{
    font-size: 20px;
    font-weight: bold;
    color: #021140;  
    margin-bottom: 5px;
}

@media (min-width:768px) {
    
    .product{
        width: 100%;
    }
    
    .top{
        align-items: left;
        width: 50%;
    }
    
    .top img{
        width: 100%;
    }
    
    .bot{
        width: 40%;
        justify-content: center;
        align-items: right;
    }

}
@media (min-width:1024px) {
    main section article{
        width: 15%;
    }
    .bot article{
        width: 20%;
    }
}