<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <%- include('./partials/header')  %> 
    <main>
        <img src="/images/banner.jpg" alt="banner">
        <!-- categorias -->
        <section class="category">
            <h2>Categorias</h2>
            <article>
                <img src="/images/categorias/articulo1.jpg" alt="articulo">
                <a href="/">name-category</a>
            </article>
            <article>
                <img src="/images/categorias/articulo2.jpg" alt="articulo">
                <a href="/">name-category</a>
            </article>
            <article>
                <img src="/images/categorias/articulo3.jpg" alt="articulo">
                <a href="/">name-category</a>
            </article>
            <article>
                <img src="/images/categorias/articulo4.jpg" alt="articulo">
                <a href="/">name-category</a>
            </article>
            <article>
                <img src="/images/categorias/articulo5.jpg" alt="articulo">
                <a href="/">name-category</a>
            </article>
        </section>
        <section class="destacados">
            <h2>Productos destacados</h2>
            <article>
                <img src="/images/destacados/destacado.jpg" alt="destacado">
                <p class="name-producto">name destacado</p>
                <p class="precio">##.##</p>
                <p class="off">##.##%</p>
                <button>Comprar</button>
            </article>
            <article>
                <img src="/images/destacados/destacado2.jpg" alt="destacado">
                <p class="name-producto">name destacado</p>
                <p class="precio">##.##</p>
                <p class="off">##.##%</p>
                <button>Comprar</button>
            </article>
            <article>
                <img src="/images/destacados/destacado3.jpg" alt="destacado">
                <p class="name-producto">name destacado</p>
                <p class="precio">##.##</p>
                <p class="off">##.##%</p>
                <button>Comprar</button>
            </article>
            <article>
                <img src="/images/destacados/destacado4.jpg" alt="destacado">
                <p class="name-producto">name destacado</p>
                <p class="precio">##.##</p>
                <p class="off">##.##%</p>
                <button>Comprar</button>
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>