<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/styles/not-found.css">
</head>
<body>
    <%- include('./partials/header')  %> 
    <main class="bgcAzul paddingTB">
        <section class="flex justCenter">
            <article>
                <h1 class="textC blanco">404 Ups!</h1>
                <p class="textC blanco">Pagina no encontrada</p>
                <p class="textC blanco">
                    Para regresar a la pagina principal haga click <a href="/home" class="cian">aquí</a>
                </p>
            </article>
            <img src="/images/beistore/image-not-found.png" alt="pagina no encontrada">  
        </section>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>