<footer class="bgcVioleta flex justAround">
    <section class="textFamily textC flex justAround info">
        <article class="marginTB">
            <i class="fas fa-tags"></i>
            <h4 class="title">Descuentos </h4>
            <p>Encontrá las mejores ofertas y descuentos todas las semanas. ¡Hacé tus compras online!</p>
        </article>
        <article class="marginTB">
            <i class="fas fa-truck-moving"></i>
            <h4 class="title">Envios a todo el Pais</h4>
            <p>Envios gratis a todo el pais con tu compra de $2500 o más.</p>
        </article>
        <article class="marginTB">
            <i class="fas fa-credit-card"></i>
            <h4 class="title">Medios de pago</h4>
            <p>Tarjeta de credito y debito. Los pagos se realizan por medio de mercado pago</p>
        </article>
    </section>
    <section class="blanco textFamily marginTB redes">
        <article class="widthFull">
            <p class="marginTB textC">Dejanos tu E-mail para recibir ofertas</p>
            
            <form action="/" method="POST" class="widthFull flex">
                <input type="email" name="email" placeholder="E-mail" class="widthFull borderRadius">
                <button type="submit"><i class="fas fa-angle-right"></i></button>
            </form>
        </article>
        <article class="widthFull flex justAround textC">
            <a href="/" class="widthThird marginTB">
                <i class="fab fa-twitter widthFull title azul"></i>
            </a>
            <a href="/" class="widthThird marginTB">
                <i class="fab fa-facebook widthFull azul title"></i>
            </a>
            <a href="/" class="widthThird marginTB">
                <i class="fab fa-google-plus-g widthFull azul title"></i>
            </a>
        </article>
    </section>
    <p class="widthFull blanco textFamily textC marginTB">Copyright © 2021 Beistore</p>
</footer>