<header>
    <a href="/home">
        <img src="/images/logo.png" alt="logo">
    </a>
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Buscar">
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <nav>
        <ul>
            <li><a href="/login"><i class="fas fa-user"></i>Cuenta</a></li>
            <li><a href="/productCart"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
        </ul>
    </nav>
</header>