<header class="bgcVioleta flex justAround paddingTB" >
    <a href="/home">
        <img src="/images/logo.png" alt="logo" class="widthFull" >
    </a>
    <form action="/" method="GET" class="flex justBet widthHalf">
        <input type="text" name="search" placeholder="Buscar" class="widthFull borderRadius">
        <button type="submit" class="">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <nav class="widthFull marginTB">
        <ul class="widthFull flex justAround">
            <li><a href="/users/login" class="blanco title"><i class="fas fa-user"></i>Cuenta</a></li>
            <li><a href="/products/cart" class="blanco title"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
        </ul>
    </nav>
</header>