<footer class="bgcVioleta flex justAround">
    <section class="blanco textFamily textC flex justAround info">
        <article class="marginTB">
            <h4 class="title">Titulo</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus modi fugiat.</p>
        </article>
        <article class="marginTB">
            <h4 class="title">Titulo</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus modi fugiat.</p>
        </article>
        <article class="marginTB">
            <h4 class="title">Titulo</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus modi fugiat.</p>
        </article>
    </section>
    <section class="blanco textFamily marginTB redes">
        <article class="widthFull">
            <p class="marginTB textC">Dejanos tu E-mail para recibir ofertas</p>
            
            <form action="/" method="POST" class="widthFull flex">
                <input type="email" name="email" placeholder="E-mail" class="widthFull borderRadius">
                <button type="submit"><i class="fas fa-angle-right"></i></button>
            </form>
        </article>
        <article class="widthFull flex justAround textC">
            <a href="/" class="widthThird marginTB">
                <i class="fab fa-twitter widthFull title azul"></i>
            </a>
            <a href="/" class="widthThird marginTB">
                <i class="fab fa-facebook widthFull azul title"></i>
            </a>
            <a href="/" class="widthThird marginTB">
                <i class="fab fa-google-plus-g widthFull azul title"></i>
            </a>
        </article>
    </section>
    <p class="widthFull blanco textFamily textC marginTB">Copyright © 2021 Beistore</p>
</footer>