<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/styles/productView.css">
</head>
<body>
    <%- include('./partials/header')  %>    
    <main>
        <section class="product">
            <article class="top">
                <p>Nombre producto</p>               
                <img src="/images/categorias/articulo1.jpg" alt="">     
            </article>

            <article class="bot">    
                <p>Id producto:</p>
                <p>Stock:</p>
                <p class="price">$999</p>
                <button type="submit">Agregar al Carrito</button>
            </article>
        </section>
        

        <section class="description">
             <article>
                <h4>Descripción de producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing blanditiis incidunt, praesentium soluta officia ullam fugit delectus expedita eos.</p>
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>