main{
    background-color: #021140;
    align-items: center;
}
main section{
    padding: 35px 0px;
    max-width: 570px;
}
main fieldset{
    width: 100%;
    margin: 20px 0px;
}
main form{
    width: 100%;
}

main form input{
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    background-color: #fff;
}
main form label {
    color: #fff;
}
main section>p{
    color: #fff;
    width: 100%;
    font-size: .9rem;
    margin: 8px 0px;
}
main section>p a{
    color: #57F2F2;
}

form textarea{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    resize: none;
}

main section h2{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.error{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
}
.error input, .error textarea{
    border: #F20789 3px solid;
}
fieldset small, fieldset i[class = "fas fa-exclamation-circle"]{display: none;}

.error i[class = "fas fa-exclamation-circle"]{
    display: block;
    color: #F20789;
    background-color: #fff;
    position: absolute;
    right: 10px;
    top: 15px;
}
.error small{
    width: 100%;
    text-align: left;
    margin-left: 8px;
    margin-top: 5px;
    font-style: italic;
    display: block;
    color: #F20789;
    font-size: .9rem;
}

input[type = "checkbox"]{
    width: 20px;
    margin-right: 5px;
}

/* edicion de productos  */
.card-images{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 6px;
}
.card-images p{
    color: #021140;
}
.card-images img{
    width: 100%;
}
.card-images input{
    width: 30px;
}